#page-instit .sofiam {
  font-family: 'sofiam';
}

#page-instit .sofial {
  font-family: 'sofiapro_light';
}

@media screen and (max-width: 767px) {
  #page-instit .sm\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .sm\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .md\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .md\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .lg\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .lg\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .xl\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .xl\:sofial {
    font-family: 'sofiapro_light';
  }
}