#page-instit .sofiam {
  font-family: 'sofiam';
}

#page-instit .sofial {
  font-family: 'sofiapro_light';
}

@media screen and (max-width: 767px) {
  #page-instit .sm\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .sm\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .md\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .md\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .lg\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .lg\:sofial {
    font-family: 'sofiapro_light';
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .xl\:sofiam {
    font-family: 'sofiam';
  }
  
  #page-instit .xl\:sofial {
    font-family: 'sofiapro_light';
  }
}

#page-instit h1,
#page-instit h2,
#page-instit h3,
#page-instit h4,
#page-instit h5,
#page-instit h6 {
  margin: 0;
}

#page-instit a {
  border-bottom: 1px solid black;
}