#page-instit .rounded-0 {
  border-radius: 0rem;
}

#page-instit .rounded-4 {
  border-radius: .25rem;
}

#page-instit .rounded-8 {
  border-radius: .5rem;
}

#page-instit .rounded-12 {
  border-radius: .75rem;
}

#page-instit .rounded-16 {
  border-radius: 1rem;
}

#page-instit .rounded-20 {
  border-radius: 1.25rem;
}

#page-instit .rounded-24 {
  border-radius: 1.5rem;
}

@media screen and (max-width: 767px) {
  /* Classe : #page-instit .sm:rounded-0 */
  #page-instit .sm\:rounded-0 {
    border-radius: 0rem;
  }

  #page-instit .sm\:rounded-4 {
    border-radius: .25rem;
  }
  
  #page-instit .sm\:rounded-8 {
    border-radius: .5rem;
  }
  
  #page-instit .sm\:rounded-12 {
    border-radius: .75rem;
  }
  
  #page-instit .sm\:rounded-16 {
    border-radius: 1rem;
  }
  
  #page-instit .sm\:rounded-20 {
    border-radius: 1.25rem;
  }
  
  #page-instit .sm\:rounded-24 {
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : md:rounded-0 */
  #page-instit .md\:rounded-0 {
    border-radius: 0rem;
  }

  #page-instit .md\:rounded-4 {
    border-radius: .25rem;
  }
  
  #page-instit .md\:rounded-8 {
    border-radius: .5rem;
  }
  
  #page-instit .md\:rounded-12 {
    border-radius: .75rem;
  }
  
  #page-instit .md\:rounded-16 {
    border-radius: 1rem;
  }
  
  #page-instit .md\:rounded-20 {
    border-radius: 1.25rem;
  }
  
  #page-instit .md\:rounded-24 {
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : lg:rounded-0 */
  #page-instit .lg\:rounded-0 {
    border-radius: 0rem;
  }

  #page-instit .lg\:rounded-4 {
    border-radius: .25rem;
  }
  
  #page-instit .lg\:rounded-8 {
    border-radius: .5rem;
  }
  
  #page-instit .lg\:rounded-12 {
    border-radius: .75rem;
  }
  
  #page-instit .lg\:rounded-16 {
    border-radius: 1rem;
  }
  
  #page-instit .lg\:rounded-20 {
    border-radius: 1.25rem;
  }
  
  #page-instit .lg\:rounded-24 {
    border-radius: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : #page-instit .xl:rounded-0 */
  #page-instit .xl\:rounded-0 {
    border-radius: 0rem;
  }

  #page-instit .xl\:rounded-4 {
    border-radius: .25rem;
  }
  
  #page-instit .xl\:rounded-8 {
    border-radius: .5rem;
  }
  
  #page-instit .xl\:rounded-12 {
    border-radius: .75rem;
  }
  
  #page-instit .xl\:rounded-16 {
    border-radius: 1rem;
  }
  
  #page-instit .xl\:rounded-20 {
    border-radius: 1.25rem;
  }
  
  #page-instit .xl\:rounded-24 {
    border-radius: 1.5rem;
  }
}