#page-instit .border-0 {
  border-width: 0;
}

#page-instit .border-1 {
  border-width: 1px;
}

#page-instit .border-2 {
  border-width: 2px;
}

#page-instit .border-4 {
  border-width: 4px;
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:border-0 */
  #page-instit .sm\:border-0 {
    border-width: 0;
  }
  
  #page-instit .sm\:border-1 {
    border-width: 1px;
  }
  
  #page-instit .sm\:border-2 {
    border-width: 2px;
  }
  
  #page-instit .sm\:border-4 {
    border-width: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : #page-instit .md:border-0 */
  #page-instit .md\:border-0 {
    border-width: 0;
  }
  
  #page-instit .md\:border-1 {
    border-width: 1px;
  }
  
  #page-instit .md\:border-2 {
    border-width: 2px;
  }
  
  #page-instit .md\:border-4 {
    border-width: 4px;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : #page-instit .lg:border-0 */
  #page-instit .lg\:border-0 {
    border-width: 0;
  }
  
  #page-instit .lg\:border-1 {
    border-width: 1px;
  }
  
  #page-instit .lg\:border-2 {
    border-width: 2px;
  }
  
  #page-instit .lg\:border-4 {
    border-width: 4px;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : #page-instit .xl:border-0 */
  #page-instit .xl\:border-0 {
    border-width: 0;
  }
  
  #page-instit .xl\:border-1 {
    border-width: 1px;
  }
  
  #page-instit .xl\:border-2 {
    border-width: 2px;
  }
  
  #page-instit .xl\:border-4 {
    border-width: 4px;
  }
}