.main-content {
  padding: 0;

  .breadcrumb {
    position: absolute;
    z-index: 4;
  }
}

#page-instit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-instit .container {
  width: calc(100% - 30rem);
}

#page-instit .container-xl {
  width: calc(100% - 160px);
}

#page-instit .container-lg {
  width: calc(100% - 240px);
}

#page-instit .container-full {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #page-instit .container {
    width: calc(100% - 3rem);
  }
  
  #page-instit .container-xl {
    width: calc(100% - 3rem);
  }
  
  #page-instit .container-lg {
    width: calc(100% - 3rem);
  }

  #page-instit .container-full {
    width: 100%;
  }

  #page-instit .sm\:container {
    width: calc(100% - 3rem);
  }
  
  #page-instit .sm\:container-xl {
    width: calc(100% - 3rem)
  }
  
  #page-instit .sm\:container-lg {
    width: calc(100% - 3rem)
  }

  #page-instit .sm\:container-full {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .container {
    width: calc(100% - 4rem);
  }
  
  #page-instit .container-xl {
    width: calc(100% - 4rem)
  }
  
  #page-instit .container-lg {
    width: calc(100% - 4rem)
  }

  #page-instit .container-full {
    width: 100%;
  }

  #page-instit .md\:container {
    width: calc(100% - 4rem);
  }
  
  #page-instit .md\:container-xl {
    width: calc(100% - 4rem)
  }
  
  #page-instit .md\:container-lg {
    width: calc(100% - 4rem)
  }

  #page-instit .md\:container-full {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .container {
    width: calc(100% - 30rem);
  }
  
  #page-instit .container-xl {
    width: calc(100% - 160px);
  }
  
  #page-instit .container-lg {
    width: calc(100% - 240px);
  }
  
  #page-instit .container-full {
    width: 100%;
  }

  #page-instit .lg\:container {
    width: calc(100% - 8rem);
  }
  
  #page-instit .lg\:container-xl {
    width: calc(100% - 6rem)
  }
  
  #page-instit .lg\:container-lg {
    width: calc(100% - 4rem)
  }

  #page-instit .lg\:container-full {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .container {
    width: calc(100% - 30rem);
  }
  
  #page-instit .container-xl {
    width: calc(100% - 160px);
  }
  
  #page-instit .container-lg {
    width: calc(100% - 240px);
  }
  
  #page-instit .container-full {
    width: 100%;
  }
  
  #page-instit .xl\:container {
    width: calc(100% - 30rem);
  }
  
  #page-instit .xl\:container-xl {
    width: calc(100% - 160px);
  }
  
  #page-instit .xl\:container-lg {
    width: calc(100% - 240px);
  }

  #page-instit .xl\:container-full {
    width: 100%;
  }
}