#page-instit .justify-normal {
  justify-content: normal;
}

#page-instit .justify-start {
  justify-content: flex-start;
}

#page-instit .justify-end {
  justify-content: flex-end;
}

#page-instit .justify-center {
  justify-content: center;
}

#page-instit .justify-between {
  justify-content: space-between;
}

#page-instit .justify-evenly {
  justify-content: space-evenly;
}

#page-instit .justify-around {
  justify-content: space-around;
}

#page-instit .justify-stretch {
  justify-content: stretch;
}

@media screen and (max-width: 767px) {
  #page-instit .sm\:justify-normal {
    justify-content: normal;
  }
  
  #page-instit .sm\:justify-start {
    justify-content: flex-start;
  }
  
  #page-instit .sm\:justify-end {
    justify-content: flex-end;
  }
  
  #page-instit .sm\:justify-center {
    justify-content: center;
  }
  
  #page-instit .sm\:justify-between {
    justify-content: space-between;
  }
  
  #page-instit .sm\:justify-evenly {
    justify-content: space-evenly;
  }
  
  #page-instit .sm\:justify-around {
    justify-content: space-around;
  }
  
  #page-instit .sm\:justify-stretch {
    justify-content: stretch;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .md\:justify-normal {
    justify-content: normal;
  }
  
  #page-instit .md\:justify-start {
    justify-content: flex-start;
  }
  
  #page-instit .md\:justify-end {
    justify-content: flex-end;
  }
  
  #page-instit .md\:justify-center {
    justify-content: center;
  }
  
  #page-instit .md\:justify-between {
    justify-content: space-between;
  }
  
  #page-instit .md\:justify-evenly {
    justify-content: space-evenly;
  }
  
  #page-instit .md\:justify-around {
    justify-content: space-around;
  }
  
  #page-instit .md\:justify-stretch {
    justify-content: stretch;
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .lg\:justify-normal {
    justify-content: normal;
  }
  
  #page-instit .lg\:justify-start {
    justify-content: flex-start;
  }
  
  #page-instit .lg\:justify-end {
    justify-content: flex-end;
  }
  
  #page-instit .lg\:justify-center {
    justify-content: center;
  }
  
  #page-instit .lg\:justify-between {
    justify-content: space-between;
  }
  
  #page-instit .lg\:justify-evenly {
    justify-content: space-evenly;
  }
  
  #page-instit .lg\:justify-around {
    justify-content: space-around;
  }
  
  #page-instit .lg\:justify-stretch {
    justify-content: stretch;
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .xl\:justify-normal {
    justify-content: normal;
  }
  
  #page-instit .xl\:justify-start {
    justify-content: flex-start;
  }
  
  #page-instit .xl\:justify-end {
    justify-content: flex-end;
  }
  
  #page-instit .xl\:justify-center {
    justify-content: center;
  }
  
  #page-instit .xl\:justify-between {
    justify-content: space-between;
  }
  
  #page-instit .xl\:justify-evenly {
    justify-content: space-evenly;
  }
  
  #page-instit .xl\:justify-around {
    justify-content: space-around;
  }
  
  #page-instit .xl\:justify-stretch {
    justify-content: stretch;
  }
}