/* Grid : order */
@for $i from 0 through 12 {
  #page-instit .order-#{$i} {
    order: $i;
  }
}

@media screen and (max-width: 767px) {
  /* Classe : #page-instit .sm:order-0 */
  @for $i from 0 through 12 {
    #page-instit .sm\:order-#{$i} {
      order: $i;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : #page-instit .md:order-0 */
  @for $i from 0 through 12 {
    #page-instit .md\:order-#{$i} {
      order: $i;
    }
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : #page-instit .lg:order-0 */
  @for $i from 0 through 12 {
    #page-instit .lg\:order-#{$i} {
      order: $i;
    }
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : #page-instit .xl:order-0 */
  @for $i from 0 through 12 {
    #page-instit .xl\:order-#{$i} {
      order: $i;
    }
  }
}