#page-instit .col-auto {
  grid-column: auto;
}

@for $i from 1 through 12 {
  #page-instit .col-span-#{$i} {
    grid-column: span $i / span $i;
  }
}

@media screen and (max-width: 767px) {
  #page-instit .col-auto,
  #page-instit .col-span-1,
  #page-instit .col-span-2,
  #page-instit .col-span-3,
  #page-instit .col-span-4,
  #page-instit .col-span-5,
  #page-instit .col-span-6,
  #page-instit .col-span-7,
  #page-instit .col-span-8,
  #page-instit .col-span-9,
  #page-instit .col-span-10,
  #page-instit .col-span-11,
  #page-instit .col-span-12 {
    grid-column: auto;
  }

  #page-instit .sm\:col-auto {
    grid-column: auto;
  }
  
  @for $i from 1 through 12 {
    #page-instit .sm\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .col-auto,
  #page-instit .col-span-1,
  #page-instit .col-span-2,
  #page-instit .col-span-3,
  #page-instit .col-span-4,
  #page-instit .col-span-5,
  #page-instit .col-span-6,
  #page-instit .col-span-7,
  #page-instit .col-span-8,
  #page-instit .col-span-9,
  #page-instit .col-span-10,
  #page-instit .col-span-11,
  #page-instit .col-span-1 {
    grid-column: auto;
  }

  #page-instit .md\:col-auto {
    grid-column: auto;
  }
  
  @for $i from 1 through 12 {
    #page-instit .md\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .lg\:col-auto {
    grid-column: auto;
  }
  
  @for $i from 1 through 12 {
    #page-instit .lg\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .xl\:col-auto {
    grid-column: auto;
  }
  
  @for $i from 1 through 12 {
    #page-instit .xl\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
}