.m-0 {
  margin: 0;
}

.m-05 {
  margin: .5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.mx-0 {
  margin: 0;
}

.mx-05 {
  margin-left: .5rem;
  margin-right: .5rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.mx-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-05 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:m-0 */
  .sm\:m-0 {
    margin: 0;
  }
  
  .sm\:m-05 {
    margin: .5rem;
  }
  
  .sm\:m-1 {
    margin: 1rem;
  }
  
  .sm\:m-2 {
    margin: 2rem;
  }
  
  .sm\:m-3 {
    margin: 3rem;
  }
  
  .sm\:m-4 {
    margin: 4rem;
  }
  
  .sm\:m-5 {
    margin: 5rem;
  }
  
  .sm\:m-6 {
    margin: 6rem;
  }
  
  .sm\:m-7 {
    margin: 7rem;
  }
  
  .sm\:m-8 {
    margin: 8rem;
  }
  
  .sm\:m-0 {
    margin: 0;
  }
  
  .sm\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .sm\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .sm\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .sm\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .sm\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .sm\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .sm\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .sm\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .sm\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  .sm\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sm\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .sm\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .sm\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .sm\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .sm\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .sm\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .sm\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .sm\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  .sm\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : .md:m-0 */
  .md\:m-0 {
    margin: 0;
  }
  
  .md\:m-05 {
    margin: .5rem;
  }
  
  .md\:m-1 {
    margin: 1rem;
  }
  
  .md\:m-2 {
    margin: 2rem;
  }
  
  .md\:m-3 {
    margin: 3rem;
  }
  
  .md\:m-4 {
    margin: 4rem;
  }
  
  .md\:m-5 {
    margin: 5rem;
  }
  
  .md\:m-6 {
    margin: 6rem;
  }
  
  .md\:m-7 {
    margin: 7rem;
  }
  
  .md\:m-8 {
    margin: 8rem;
  }
  
  .md\:m-0 {
    margin: 0;
  }
  
  .md\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .md\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .md\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .md\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .md\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .md\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .md\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .md\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .md\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  .md\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .md\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .md\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .md\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .md\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .md\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .md\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .md\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .md\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  .md\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : .lg:m-0 */
  .lg\:m-0 {
    margin: 0;
  }
  
  .lg\:m-05 {
    margin: .5rem;
  }
  
  .lg\:m-1 {
    margin: 1rem;
  }
  
  .lg\:m-2 {
    margin: 2rem;
  }
  
  .lg\:m-3 {
    margin: 3rem;
  }
  
  .lg\:m-4 {
    margin: 4rem;
  }
  
  .lg\:m-5 {
    margin: 5rem;
  }
  
  .lg\:m-6 {
    margin: 6rem;
  }
  
  .lg\:m-7 {
    margin: 7rem;
  }
  
  .lg\:m-8 {
    margin: 8rem;
  }
  
  .lg\:m-0 {
    margin: 0;
  }
  
  .lg\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .lg\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .lg\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .lg\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .lg\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .lg\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .lg\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .lg\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .lg\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  .lg\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .lg\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .lg\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .lg\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .lg\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .lg\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .lg\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .lg\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .lg\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  .lg\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : .xl:m-0 */
  .xl\:m-0 {
    margin: 0;
  }
  
  .xl\:m-05 {
    margin: .5rem;
  }
  
  .xl\:m-1 {
    margin: 1rem;
  }
  
  .xl\:m-2 {
    margin: 2rem;
  }
  
  .xl\:m-3 {
    margin: 3rem;
  }
  
  .xl\:m-4 {
    margin: 4rem;
  }
  
  .xl\:m-5 {
    margin: 5rem;
  }
  
  .xl\:m-6 {
    margin: 6rem;
  }
  
  .xl\:m-7 {
    margin: 7rem;
  }
  
  .xl\:m-8 {
    margin: 8rem;
  }
  
  .xl\:m-0 {
    margin: 0;
  }
  
  .xl\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .xl\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .xl\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .xl\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .xl\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .xl\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .xl\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  .xl\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .xl\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  .xl\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .xl\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .xl\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .xl\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .xl\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .xl\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .xl\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .xl\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .xl\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  .xl\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}