/* Grid : Paddings */
.p-0 {
  padding: 0;
}

.p-05 {
  padding: .5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p-6 {
  padding: 6rem;
}

.p-7 {
  padding: 7rem;
}

.p-8 {
  padding: 8rem;
}

.px-0 {
  padding: 0;
}

.px-05 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-05 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:p-0 */
  .sm\:p-0 {
    padding: 0;
  }
  
  .sm\:p-05 {
    padding: .5rem;
  }
  
  .sm\:p-1 {
    padding: 1rem;
  }
  
  .sm\:p-2 {
    padding: 2rem;
  }
  
  .sm\:p-3 {
    padding: 3rem;
  }
  
  .sm\:p-4 {
    padding: 4rem;
  }
  
  .sm\:p-5 {
    padding: 5rem;
  }
  
  .sm\:p-6 {
    padding: 6rem;
  }
  
  .sm\:p-7 {
    padding: 7rem;
  }
  
  .sm\:p-8 {
    padding: 8rem;
  }
  
  .sm\:p-0 {
    padding: 0;
  }
  
  .sm\:px-05 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .sm\:px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .sm\:px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .sm\:px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .sm\:px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .sm\:px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .sm\:px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .sm\:px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .sm\:px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .sm\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .sm\:py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .sm\:py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .sm\:py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .sm\:py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .sm\:py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .sm\:py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .sm\:py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .sm\:py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .sm\:py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : .md:p-0 */
  .md\:p-0 {
    padding: 0;
  }
  
  .md\:p-05 {
    padding: .5rem;
  }
  
  .md\:p-1 {
    padding: 1rem;
  }
  
  .md\:p-2 {
    padding: 2rem;
  }
  
  .md\:p-3 {
    padding: 3rem;
  }
  
  .md\:p-4 {
    padding: 4rem;
  }
  
  .md\:p-5 {
    padding: 5rem;
  }
  
  .md\:p-6 {
    padding: 6rem;
  }
  
  .md\:p-7 {
    padding: 7rem;
  }
  
  .md\:p-8 {
    padding: 8rem;
  }
  
  .md\:p-0 {
    padding: 0;
  }
  
  .md\:px-05 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .md\:px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .md\:px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .md\:px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .md\:px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .md\:px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .md\:px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .md\:px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .md\:px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .md\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .md\:py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .md\:py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .md\:py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .md\:py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .md\:py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .md\:py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .md\:py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .md\:py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .md\:py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : .lg:p-0 */
  .lg\:p-0 {
    padding: 0;
  }
  
  .lg\:p-05 {
    padding: .5rem;
  }
  
  .lg\:p-1 {
    padding: 1rem;
  }
  
  .lg\:p-2 {
    padding: 2rem;
  }
  
  .lg\:p-3 {
    padding: 3rem;
  }
  
  .lg\:p-4 {
    padding: 4rem;
  }
  
  .lg\:p-5 {
    padding: 5rem;
  }
  
  .lg\:p-6 {
    padding: 6rem;
  }
  
  .lg\:p-7 {
    padding: 7rem;
  }
  
  .lg\:p-8 {
    padding: 8rem;
  }
  
  .lg\:p-0 {
    padding: 0;
  }
  
  .lg\:px-05 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .lg\:px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .lg\:px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .lg\:px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .lg\:px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .lg\:px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .lg\:px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .lg\:px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .lg\:px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .lg\:py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .lg\:py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .lg\:py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .lg\:py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .lg\:py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .lg\:py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .lg\:py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .lg\:py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .lg\:py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : .xl:p-0 */
  .xl\:p-0 {
    padding: 0;
  }
  
  .xl\:p-05 {
    padding: .5rem;
  }
  
  .xl\:p-1 {
    padding: 1rem;
  }
  
  .xl\:p-2 {
    padding: 2rem;
  }
  
  .xl\:p-3 {
    padding: 3rem;
  }
  
  .xl\:p-4 {
    padding: 4rem;
  }
  
  .xl\:p-5 {
    padding: 5rem;
  }
  
  .xl\:p-6 {
    padding: 6rem;
  }
  
  .xl\:p-7 {
    padding: 7rem;
  }
  
  .xl\:p-8 {
    padding: 8rem;
  }
  
  .xl\:p-0 {
    padding: 0;
  }
  
  .xl\:px-05 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .xl\:px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .xl\:px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .xl\:px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .xl\:px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .xl\:px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .xl\:px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .xl\:px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .xl\:px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  .xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .xl\:py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  
  .xl\:py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .xl\:py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .xl\:py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .xl\:py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .xl\:py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .xl\:py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .xl\:py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .xl\:py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}