#page-instit .items-start {
  align-items: flex-start;
}

#page-instit .items-end {
  align-items: flex-end;
}

#page-instit .items-center {
  align-items: center;
}

#page-instit .items-baseline {
  align-items: baseline;
}

#page-instit .items-stretch {
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  #page-instit .sm\:items-start {
    align-items: flex-start;
  }
  
  #page-instit .sm\:items-end {
    align-items: flex-end;
  }
  
  #page-instit .sm\:items-center {
    align-items: center;
  }
  
  #page-instit .sm\:items-baseline {
    align-items: baseline;
  }
  
  #page-instit .sm\:items-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #page-instit .md\:items-start {
    align-items: flex-start;
  }
  
  #page-instit .md\:items-end {
    align-items: flex-end;
  }
  
  #page-instit .md\:items-center {
    align-items: center;
  }
  
  #page-instit .md\:items-baseline {
    align-items: baseline;
  }
  
  #page-instit .md\:items-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 1024px) {
  #page-instit .lg\:items-start {
    align-items: flex-start;
  }
  
  #page-instit .lg\:items-end {
    align-items: flex-end;
  }
  
  #page-instit .lg\:items-center {
    align-items: center;
  }
  
  #page-instit .lg\:items-baseline {
    align-items: baseline;
  }
  
  #page-instit .lg\:items-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 1440px) {
  #page-instit .xl\:items-start {
    align-items: flex-start;
  }
  
  #page-instit .xl\:items-end {
    align-items: flex-end;
  }
  
  #page-instit .xl\:items-center {
    align-items: center;
  }
  
  #page-instit .xl\:items-baseline {
    align-items: baseline;
  }
  
  #page-instit .xl\:items-stretch {
    align-items: stretch;
  }
}