/* Grid : Columns */
@for $i from 1 through 12 {
  #page-instit .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }
}

.gris-cols-none {
  grid-template-columns: none;
}

@media screen and (max-width: 767px) {
  /* Classe : #page-instit .sm:grid-cols-1 */
  @for $i from 1 through 12 {
    #page-instit .sm\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
  }

  #page-instit .sm\:gris-cols-none {
    grid-template-columns: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : #page-instit .md:grid-cols-1 */
  @for $i from 1 through 12 {
    #page-instit .md\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
  }

  #page-instit .md\:gris-cols-none {
    grid-template-columns: none;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : #page-instit .lg:grid-cols-1 */
  @for $i from 1 through 12 {
    #page-instit .lg\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
  }

  #page-instit .lg\:gris-cols-none {
    grid-template-columns: none;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : xl:grid-cols-1 */
  @for $i from 1 through 12 {
    #page-instit .xl\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
  }

  #page-instit .xl\:gris-cols-none {
    grid-template-columns: none;
  }
}