#page-instit .border-none {
  border: none;
}

#page-instit .border-solid {
  border: solid;
}

#page-instit .border-dashed {
  border: dashed;
}

#page-instit .border-dotted {
  border: dotted;
}

#page-instit .border-double {
  border: double;
}

#page-instit .border-hidden {
  border: hidden;
}

@media screen and (max-width: 767px) {
  /* Classe : #page-instit .sm:border-none */
  #page-instit .sm\:border-none {
    border: none;
  }
  
  #page-instit .sm\:border-solid {
    border: solid;
  }
  
  #page-instit .sm\:border-dashed {
    border: dashed;
  }
  
  #page-instit .sm\:border-dotted {
    border: dotted;
  }
  
  #page-instit .sm\:border-double {
    border: double;
  }
  
  #page-instit .sm\:border-hidden {
    border: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : #page-instit .md:border-none */
  #page-instit .md\:border-none {
    border: none;
  }
  
  #page-instit .md\:border-solid {
    border: solid;
  }
  
  #page-instit .md\:border-dashed {
    border: dashed;
  }
  
  #page-instit .md\:border-dotted {
    border: dotted;
  }
  
  #page-instit .md\:border-double {
    border: double;
  }
  
  #page-instit .md\:border-hidden {
    border: hidden;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : #page-instit .lg:border-none */
  #page-instit .lg\:border-none {
    border: none;
  }
  
  #page-instit .lg\:border-solid {
    border: solid;
  }
  
  #page-instit .lg\:border-dashed {
    border: dashed;
  }
  
  #page-instit .lg\:border-dotted {
    border: dotted;
  }
  
  #page-instit .lg\:border-double {
    border: double;
  }
  
  #page-instit .lg\:border-hidden {
    border: hidden;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : #page-instit .sm:border-none */
  #page-instit .xl\:border-none {
    border: none;
  }
  
  #page-instit .xl\:border-solid {
    border: solid;
  }
  
  #page-instit .xl\:border-dashed {
    border: dashed;
  }
  
  #page-instit .xl\:border-dotted {
    border: dotted;
  }
  
  #page-instit .xl\:border-double {
    border: double;
  }
  
  #page-instit .xl\:border-hidden {
    border: hidden;
  }
}