#page-instit .m-0 {
  margin: 0;
}

#page-instit .m-05 {
  margin: .5rem;
}

#page-instit .m-1 {
  margin: 1rem;
}

#page-instit .m-2 {
  margin: 2rem;
}

#page-instit .m-3 {
  margin: 3rem;
}

#page-instit .m-4 {
  margin: 4rem;
}

#page-instit .m-5 {
  margin: 5rem;
}

#page-instit .m-6 {
  margin: 6rem;
}

#page-instit .m-7 {
  margin: 7rem;
}

#page-instit .m-8 {
  margin: 8rem;
}

#page-instit .mx-0 {
  margin-left: 0;
  margin-right: 0;
}

#page-instit .mx-05 {
  margin-left: .5rem;
  margin-right: .5rem;
}

#page-instit .mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

#page-instit .mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

#page-instit .mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

#page-instit .mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

#page-instit .mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

#page-instit .mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

#page-instit .mx-7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

#page-instit .mx-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

#page-instit .my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

#page-instit .my-05 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#page-instit .my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#page-instit .my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#page-instit .my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#page-instit .my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#page-instit .my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#page-instit .my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#page-instit .my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

#page-instit .my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#page-instit .mt-0 {
  margin-top: 0;
}

#page-instit .mt-05 {
  margin-top: .5rem;
}

#page-instit .mt-1 {
  margin-top: 1rem;
}

#page-instit .mt-2 {
  margin-top: 2rem;
}

#page-instit .mt-3 {
  margin-top: 3rem;
}

#page-instit .mt-4 {
  margin-top: 4rem;
}

#page-instit .mt-5 {
  margin-top: 5rem;
}

#page-instit .mt-6 {
  margin-top: 6rem;
}

#page-instit .mt-7 {
  margin-top: 7rem;
}

#page-instit .mt-8 {
  margin-top: 8rem;
}

#page-instit .mb-0 {
  margin-bottom: 0;
}

#page-instit .mb-05 {
  margin-bottom: .5rem;
}

#page-instit .mb-1 {
  margin-bottom: 1rem;
}

#page-instit .mb-2 {
  margin-bottom: 2rem;
}

#page-instit .mb-3 {
  margin-bottom: 3rem;
}

#page-instit .mb-4 {
  margin-bottom: 4rem;
}

#page-instit .mb-5 {
  margin-bottom: 5rem;
}

#page-instit .mb-6 {
  margin-bottom: 6rem;
}

#page-instit .mb-7 {
  margin-bottom: 7rem;
}

#page-instit .mb-8 {
  margin-bottom: 8rem;
}

#page-instit .ml-0 {
  margin-left: 0;
}

#page-instit .ml-05 {
  margin-left: .5rem;
}

#page-instit .ml-1 {
  margin-left: 1rem;
}

#page-instit .ml-2 {
  margin-left: 2rem;
}

#page-instit .ml-3 {
  margin-left: 3rem;
}

#page-instit .ml-4 {
  margin-left: 4rem;
}

#page-instit .ml-5 {
  margin-left: 5rem;
}

#page-instit .ml-6 {
  margin-left: 6rem;
}

#page-instit .ml-7 {
  margin-left: 7rem;
}

#page-instit .ml-8 {
  margin-left: 8rem;
}

#page-instit .mr-0 {
  margin-right: 0;
}

#page-instit .mr-05 {
  margin-right: .5rem;
}

#page-instit .mr-1 {
  margin-right: 1rem;
}

#page-instit .mr-2 {
  margin-right: 2rem;
}

#page-instit .mr-3 {
  margin-right: 3rem;
}

#page-instit .mr-4 {
  margin-right: 4rem;
}

#page-instit .mr-5 {
  margin-right: 5rem;
}

#page-instit .mr-6 {
  margin-right: 6rem;
}

#page-instit .mr-7 {
  margin-right: 7rem;
}

#page-instit .mr-8 {
  margin-right: 8rem;
}

@media screen and (max-width: 767px) {
  /* Classe : #page-instit .sm:m-0 */
  #page-instit .sm\:m-0 {
    margin: 0;
  }
  
  #page-instit .sm\:m-05 {
    margin: .5rem;
  }
  
  #page-instit .sm\:m-1 {
    margin: 1rem;
  }
  
  #page-instit .sm\:m-2 {
    margin: 2rem;
  }
  
  #page-instit .sm\:m-3 {
    margin: 3rem;
  }
  
  #page-instit .sm\:m-4 {
    margin: 4rem;
  }
  
  #page-instit .sm\:m-5 {
    margin: 5rem;
  }
  
  #page-instit .sm\:m-6 {
    margin: 6rem;
  }
  
  #page-instit .sm\:m-7 {
    margin: 7rem;
  }
  
  #page-instit .sm\:m-8 {
    margin: 8rem;
  }
  
  #page-instit .sm\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  
  #page-instit .sm\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  #page-instit .sm\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #page-instit .sm\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #page-instit .sm\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  #page-instit .sm\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  #page-instit .sm\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  #page-instit .sm\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  #page-instit .sm\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  #page-instit .sm\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  #page-instit .sm\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #page-instit .sm\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  #page-instit .sm\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #page-instit .sm\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #page-instit .sm\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  #page-instit .sm\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  #page-instit .sm\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  #page-instit .sm\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  #page-instit .sm\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  #page-instit .sm\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  #page-instit .sm\:mt-0 {
    margin-top: 0;
  }
  
  #page-instit .sm\:mt-05 {
    margin-top: .5rem;
  }
  
  #page-instit .sm\:mt-1 {
    margin-top: 1rem;
  }
  
  #page-instit .sm\:mt-2 {
    margin-top: 2rem;
  }
  
  #page-instit .sm\:mt-3 {
    margin-top: 3rem;
  }
  
  #page-instit .sm\:mt-4 {
    margin-top: 4rem;
  }
  
  #page-instit .sm\:mt-5 {
    margin-top: 5rem;
  }
  
  #page-instit .sm\:mt-6 {
    margin-top: 6rem;
  }
  
  #page-instit .sm\:mt-7 {
    margin-top: 7rem;
  }
  
  #page-instit .sm\:mt-8 {
    margin-top: 8rem;
  }

  #page-instit .sm\:mb-0 {
    margin-bottom: 0;
  }
  
  #page-instit .sm\:mb-05 {
    margin-bottom: .5rem;
  }
  
  #page-instit .sm\:mb-1 {
    margin-bottom: 1rem;
  }
  
  #page-instit .sm\:mb-2 {
    margin-bottom: 2rem;
  }
  
  #page-instit .sm\:mb-3 {
    margin-bottom: 3rem;
  }
  
  #page-instit .sm\:mb-4 {
    margin-bottom: 4rem;
  }
  
  #page-instit .sm\:mb-5 {
    margin-bottom: 5rem;
  }
  
  #page-instit .sm\:mb-6 {
    margin-bottom: 6rem;
  }
  
  #page-instit .sm\:mb-7 {
    margin-bottom: 7rem;
  }
  
  #page-instit .sm\:mb-8 {
    margin-bottom: 8rem;
  }

  #page-instit .sm\:ml-0 {
    margin-left: 0;
  }
  
  #page-instit .sm\:ml-05 {
    margin-left: .5rem;
  }
  
  #page-instit .sm\:ml-1 {
    margin-left: 1rem;
  }
  
  #page-instit .sm\:ml-2 {
    margin-left: 2rem;
  }
  
  #page-instit .sm\:ml-3 {
    margin-left: 3rem;
  }
  
  #page-instit .sm\:ml-4 {
    margin-left: 4rem;
  }
  
  #page-instit .sm\:ml-5 {
    margin-left: 5rem;
  }
  
  #page-instit .sm\:ml-6 {
    margin-left: 6rem;
  }
  
  #page-instit .sm\:ml-7 {
    margin-left: 7rem;
  }
  
  #page-instit .sm\:ml-8 {
    margin-left: 8rem;
  }

  #page-instit .sm\:mr-0 {
    margin-right: 0;
  }
  
  #page-instit .sm\:mr-05 {
    margin-right: .5rem;
  }
  
  #page-instit .sm\:mr-1 {
    margin-right: 1rem;
  }
  
  #page-instit .sm\:mr-2 {
    margin-right: 2rem;
  }
  
  #page-instit .sm\:mr-3 {
    margin-right: 3rem;
  }
  
  #page-instit .sm\:mr-4 {
    margin-right: 4rem;
  }
  
  #page-instit .sm\:mr-5 {
    margin-right: 5rem;
  }
  
  #page-instit .sm\:mr-6 {
    margin-right: 6rem;
  }
  
  #page-instit .sm\:mr-7 {
    margin-right: 7rem;
  }
  
  #page-instit .sm\:mr-8 {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : #page-instit #page-instit .md:m-0 */
  #page-instit #page-instit .md\:m-0 {
    margin: 0;
  }
  
  #page-instit #page-instit .md\:m-05 {
    margin: .5rem;
  }
  
  #page-instit #page-instit .md\:m-1 {
    margin: 1rem;
  }
  
  #page-instit #page-instit .md\:m-2 {
    margin: 2rem;
  }
  
  #page-instit #page-instit .md\:m-3 {
    margin: 3rem;
  }
  
  #page-instit #page-instit .md\:m-4 {
    margin: 4rem;
  }
  
  #page-instit #page-instit .md\:m-5 {
    margin: 5rem;
  }
  
  #page-instit #page-instit .md\:m-6 {
    margin: 6rem;
  }
  
  #page-instit #page-instit .md\:m-7 {
    margin: 7rem;
  }
  
  #page-instit #page-instit .md\:m-8 {
    margin: 8rem;
  }
  
  #page-instit #page-instit .md\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  
  #page-instit #page-instit .md\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  #page-instit #page-instit .md\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #page-instit #page-instit .md\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #page-instit #page-instit .md\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  #page-instit #page-instit .md\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  #page-instit #page-instit .md\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  #page-instit #page-instit .md\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  #page-instit #page-instit .md\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  #page-instit #page-instit .md\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  #page-instit #page-instit .md\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #page-instit #page-instit .md\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  #page-instit #page-instit .md\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #page-instit #page-instit .md\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #page-instit #page-instit .md\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  #page-instit #page-instit .md\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  #page-instit #page-instit .md\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  #page-instit #page-instit .md\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  #page-instit #page-instit .md\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  #page-instit #page-instit .md\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  #page-instit #page-instit .md\:mt-0 {
    margin-top: 0;
  }
  
  #page-instit #page-instit .md\:mt-05 {
    margin-top: .5rem;
  }
  
  #page-instit #page-instit .md\:mt-1 {
    margin-top: 1rem;
  }
  
  #page-instit #page-instit .md\:mt-2 {
    margin-top: 2rem;
  }
  
  #page-instit #page-instit .md\:mt-3 {
    margin-top: 3rem;
  }
  
  #page-instit #page-instit .md\:mt-4 {
    margin-top: 4rem;
  }
  
  #page-instit #page-instit .md\:mt-5 {
    margin-top: 5rem;
  }
  
  #page-instit #page-instit .md\:mt-6 {
    margin-top: 6rem;
  }
  
  #page-instit #page-instit .md\:mt-7 {
    margin-top: 7rem;
  }
  
  #page-instit #page-instit .md\:mt-8 {
    margin-top: 8rem;
  }

  #page-instit #page-instit .md\:mb-0 {
    margin-bottom: 0;
  }
  
  #page-instit #page-instit .md\:mb-05 {
    margin-bottom: .5rem;
  }
  
  #page-instit #page-instit .md\:mb-1 {
    margin-bottom: 1rem;
  }
  
  #page-instit #page-instit .md\:mb-2 {
    margin-bottom: 2rem;
  }
  
  #page-instit #page-instit .md\:mb-3 {
    margin-bottom: 3rem;
  }
  
  #page-instit #page-instit .md\:mb-4 {
    margin-bottom: 4rem;
  }
  
  #page-instit #page-instit .md\:mb-5 {
    margin-bottom: 5rem;
  }
  
  #page-instit #page-instit .md\:mb-6 {
    margin-bottom: 6rem;
  }
  
  #page-instit #page-instit .md\:mb-7 {
    margin-bottom: 7rem;
  }
  
  #page-instit #page-instit .md\:mb-8 {
    margin-bottom: 8rem;
  }

  #page-instit #page-instit .md\:ml-0 {
    margin-left: 0;
  }
  
  #page-instit #page-instit .md\:ml-05 {
    margin-left: .5rem;
  }
  
  #page-instit #page-instit .md\:ml-1 {
    margin-left: 1rem;
  }
  
  #page-instit #page-instit .md\:ml-2 {
    margin-left: 2rem;
  }
  
  #page-instit #page-instit .md\:ml-3 {
    margin-left: 3rem;
  }
  
  #page-instit #page-instit .md\:ml-4 {
    margin-left: 4rem;
  }
  
  #page-instit #page-instit .md\:ml-5 {
    margin-left: 5rem;
  }
  
  #page-instit #page-instit .md\:ml-6 {
    margin-left: 6rem;
  }
  
  #page-instit #page-instit .md\:ml-7 {
    margin-left: 7rem;
  }
  
  #page-instit #page-instit .md\:ml-8 {
    margin-left: 8rem;
  }

  #page-instit #page-instit .md\:mr-0 {
    margin-right: 0;
  }
  
  #page-instit #page-instit .md\:mr-05 {
    margin-right: .5rem;
  }
  
  #page-instit #page-instit .md\:mr-1 {
    margin-right: 1rem;
  }
  
  #page-instit #page-instit .md\:mr-2 {
    margin-right: 2rem;
  }
  
  #page-instit #page-instit .md\:mr-3 {
    margin-right: 3rem;
  }
  
  #page-instit #page-instit .md\:mr-4 {
    margin-right: 4rem;
  }
  
  #page-instit #page-instit .md\:mr-5 {
    margin-right: 5rem;
  }
  
  #page-instit #page-instit .md\:mr-6 {
    margin-right: 6rem;
  }
  
  #page-instit #page-instit .md\:mr-7 {
    margin-right: 7rem;
  }
  
  #page-instit #page-instit .md\:mr-8 {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : #page-instit .lg:m-0 */
  #page-instit .lg\:m-0 {
    margin: 0;
  }
  
  #page-instit .lg\:m-05 {
    margin: .5rem;
  }
  
  #page-instit .lg\:m-1 {
    margin: 1rem;
  }
  
  #page-instit .lg\:m-2 {
    margin: 2rem;
  }
  
  #page-instit .lg\:m-3 {
    margin: 3rem;
  }
  
  #page-instit .lg\:m-4 {
    margin: 4rem;
  }
  
  #page-instit .lg\:m-5 {
    margin: 5rem;
  }
  
  #page-instit .lg\:m-6 {
    margin: 6rem;
  }
  
  #page-instit .lg\:m-7 {
    margin: 7rem;
  }
  
  #page-instit .lg\:m-8 {
    margin: 8rem;
  }
  
  #page-instit .lg\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  
  #page-instit .lg\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  #page-instit .lg\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #page-instit .lg\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #page-instit .lg\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  #page-instit .lg\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  #page-instit .lg\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  #page-instit .lg\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  #page-instit .lg\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  #page-instit .lg\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  #page-instit .lg\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #page-instit .lg\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  #page-instit .lg\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #page-instit .lg\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #page-instit .lg\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  #page-instit .lg\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  #page-instit .lg\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  #page-instit .lg\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  #page-instit .lg\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  #page-instit .lg\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  #page-instit .lg\:mt-0 {
    margin-top: 0;
  }
  
  #page-instit .lg\:mt-05 {
    margin-top: .5rem;
  }
  
  #page-instit .lg\:mt-1 {
    margin-top: 1rem;
  }
  
  #page-instit .lg\:mt-2 {
    margin-top: 2rem;
  }
  
  #page-instit .lg\:mt-3 {
    margin-top: 3rem;
  }
  
  #page-instit .lg\:mt-4 {
    margin-top: 4rem;
  }
  
  #page-instit .lg\:mt-5 {
    margin-top: 5rem;
  }
  
  #page-instit .lg\:mt-6 {
    margin-top: 6rem;
  }
  
  #page-instit .lg\:mt-7 {
    margin-top: 7rem;
  }
  
  #page-instit .lg\:mt-8 {
    margin-top: 8rem;
  }

  #page-instit .lg\:mb-0 {
    margin-bottom: 0;
  }
  
  #page-instit .lg\:mb-05 {
    margin-bottom: .5rem;
  }
  
  #page-instit .lg\:mb-1 {
    margin-bottom: 1rem;
  }
  
  #page-instit .lg\:mb-2 {
    margin-bottom: 2rem;
  }
  
  #page-instit .lg\:mb-3 {
    margin-bottom: 3rem;
  }
  
  #page-instit .lg\:mb-4 {
    margin-bottom: 4rem;
  }
  
  #page-instit .lg\:mb-5 {
    margin-bottom: 5rem;
  }
  
  #page-instit .lg\:mb-6 {
    margin-bottom: 6rem;
  }
  
  #page-instit .lg\:mb-7 {
    margin-bottom: 7rem;
  }
  
  #page-instit .lg\:mb-8 {
    margin-bottom: 8rem;
  }

  #page-instit .lg\:ml-0 {
    margin-left: 0;
  }
  
  #page-instit .lg\:ml-05 {
    margin-left: .5rem;
  }
  
  #page-instit .lg\:ml-1 {
    margin-left: 1rem;
  }
  
  #page-instit .lg\:ml-2 {
    margin-left: 2rem;
  }
  
  #page-instit .lg\:ml-3 {
    margin-left: 3rem;
  }
  
  #page-instit .lg\:ml-4 {
    margin-left: 4rem;
  }
  
  #page-instit .lg\:ml-5 {
    margin-left: 5rem;
  }
  
  #page-instit .lg\:ml-6 {
    margin-left: 6rem;
  }
  
  #page-instit .lg\:ml-7 {
    margin-left: 7rem;
  }
  
  #page-instit .lg\:ml-8 {
    margin-left: 8rem;
  }

  #page-instit .lg\:mr-0 {
    margin-right: 0;
  }
  
  #page-instit .lg\:mr-05 {
    margin-right: .5rem;
  }
  
  #page-instit .lg\:mr-1 {
    margin-right: 1rem;
  }
  
  #page-instit .lg\:mr-2 {
    margin-right: 2rem;
  }
  
  #page-instit .lg\:mr-3 {
    margin-right: 3rem;
  }
  
  #page-instit .lg\:mr-4 {
    margin-right: 4rem;
  }
  
  #page-instit .lg\:mr-5 {
    margin-right: 5rem;
  }
  
  #page-instit .lg\:mr-6 {
    margin-right: 6rem;
  }
  
  #page-instit .lg\:mr-7 {
    margin-right: 7rem;
  }
  
  #page-instit .lg\:mr-8 {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : #page-instit .xl:m-0 */
  #page-instit .xl\:m-0 {
    margin: 0;
  }
  
  #page-instit .xl\:m-05 {
    margin: .5rem;
  }
  
  #page-instit .xl\:m-1 {
    margin: 1rem;
  }
  
  #page-instit .xl\:m-2 {
    margin: 2rem;
  }
  
  #page-instit .xl\:m-3 {
    margin: 3rem;
  }
  
  #page-instit .xl\:m-4 {
    margin: 4rem;
  }
  
  #page-instit .xl\:m-5 {
    margin: 5rem;
  }
  
  #page-instit .xl\:m-6 {
    margin: 6rem;
  }
  
  #page-instit .xl\:m-7 {
    margin: 7rem;
  }
  
  #page-instit .xl\:m-8 {
    margin: 8rem;
  }
  
  #page-instit .xl\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  
  #page-instit .xl\:mx-05 {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  #page-instit .xl\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #page-instit .xl\:mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #page-instit .xl\:mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  #page-instit .xl\:mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  #page-instit .xl\:mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  #page-instit .xl\:mx-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  
  #page-instit .xl\:mx-7 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  #page-instit .xl\:mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  
  #page-instit .xl\:my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #page-instit .xl\:my-05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  #page-instit .xl\:my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #page-instit .xl\:my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #page-instit .xl\:my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  #page-instit .xl\:my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  #page-instit .xl\:my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  #page-instit .xl\:my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  #page-instit .xl\:my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  
  #page-instit .xl\:my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  #page-instit .xl\:mt-0 {
    margin-top: 0;
  }
  
  #page-instit .xl\:mt-05 {
    margin-top: .5rem;
  }
  
  #page-instit .xl\:mt-1 {
    margin-top: 1rem;
  }
  
  #page-instit .xl\:mt-2 {
    margin-top: 2rem;
  }
  
  #page-instit .xl\:mt-3 {
    margin-top: 3rem;
  }
  
  #page-instit .xl\:mt-4 {
    margin-top: 4rem;
  }
  
  #page-instit .xl\:mt-5 {
    margin-top: 5rem;
  }
  
  #page-instit .xl\:mt-6 {
    margin-top: 6rem;
  }
  
  #page-instit .xl\:mt-7 {
    margin-top: 7rem;
  }
  
  #page-instit .xl\:mt-8 {
    margin-top: 8rem;
  }

  #page-instit .xl\:mb-0 {
    margin-bottom: 0;
  }
  
  #page-instit .xl\:mb-05 {
    margin-bottom: .5rem;
  }
  
  #page-instit .xl\:mb-1 {
    margin-bottom: 1rem;
  }
  
  #page-instit .xl\:mb-2 {
    margin-bottom: 2rem;
  }
  
  #page-instit .xl\:mb-3 {
    margin-bottom: 3rem;
  }
  
  #page-instit .xl\:mb-4 {
    margin-bottom: 4rem;
  }
  
  #page-instit .xl\:mb-5 {
    margin-bottom: 5rem;
  }
  
  #page-instit .xl\:mb-6 {
    margin-bottom: 6rem;
  }
  
  #page-instit .xl\:mb-7 {
    margin-bottom: 7rem;
  }
  
  #page-instit .xl\:mb-8 {
    margin-bottom: 8rem;
  }

  #page-instit .xl\:ml-0 {
    margin-left: 0;
  }
  
  #page-instit .xl\:ml-05 {
    margin-left: .5rem;
  }
  
  #page-instit .xl\:ml-1 {
    margin-left: 1rem;
  }
  
  #page-instit .xl\:ml-2 {
    margin-left: 2rem;
  }
  
  #page-instit .xl\:ml-3 {
    margin-left: 3rem;
  }
  
  #page-instit .xl\:ml-4 {
    margin-left: 4rem;
  }
  
  #page-instit .xl\:ml-5 {
    margin-left: 5rem;
  }
  
  #page-instit .xl\:ml-6 {
    margin-left: 6rem;
  }
  
  #page-instit .xl\:ml-7 {
    margin-left: 7rem;
  }
  
  #page-instit .xl\:ml-8 {
    margin-left: 8rem;
  }

  #page-instit .xl\:mr-0 {
    margin-right: 0;
  }
  
  #page-instit .xl\:mr-05 {
    margin-right: .5rem;
  }
  
  #page-instit .xl\:mr-1 {
    margin-right: 1rem;
  }
  
  #page-instit .xl\:mr-2 {
    margin-right: 2rem;
  }
  
  #page-instit .xl\:mr-3 {
    margin-right: 3rem;
  }
  
  #page-instit .xl\:mr-4 {
    margin-right: 4rem;
  }
  
  #page-instit .xl\:mr-5 {
    margin-right: 5rem;
  }
  
  #page-instit .xl\:mr-6 {
    margin-right: 6rem;
  }
  
  #page-instit .xl\:mr-7 {
    margin-right: 7rem;
  }
  
  #page-instit .xl\:mr-8 {
    margin-right: 8rem;
  }
}