/* Grid system */
.grid {
  display: grid;
}

/* Grid : Columns */
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:grid-cols-1 */
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .sm\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .sm\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .sm\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .sm\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .sm\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .sm\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : .md:grid-cols-1 */
  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .md\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .md\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .md\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .md\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .md\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : .lg:grid-cols-1 */
  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .lg\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .lg\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .lg\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .lg\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .lg\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : .xl:grid-cols-1 */
  .xl\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .xl\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .xl\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .xl\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .xl\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .xl\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .xl\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

/* Grid : Gap */
.grid-gap-05 {
  grid-gap: .5rem;
}

.grid-gap-1 {
  grid-gap: 1rem;
}

.grid-gap-2 {
  grid-gap: 2rem;
}

.grid-gap-3 {
  grid-gap: 3rem;
}

.grid-gap-4 {
  grid-gap: 4rem;
}

.grid-gap-5 {
  grid-gap: 5rem;
}

.grid-gap-6 {
  grid-gap: 6rem;
}

.grid-gap-7 {
  grid-gap: 7rem;
}

.grid-gap-8 {
  grid-gap: 8rem;
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:grid-gap-05 */
  .sm\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .sm\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .sm\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .sm\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .sm\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .sm\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .sm\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .sm\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .sm\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : .md:grid-gap-05 */
  .md\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .md\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .md\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .md\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .md\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .md\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .md\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .md\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .md\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : .lg:grid-gap-05 */
  .lg\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .lg\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .lg\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .lg\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .lg\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .lg\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .lg\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .lg\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .lg\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : .xl:grid-gap-05 */
  .xl\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .xl\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .xl\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .xl\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .xl\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .xl\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .xl\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .xl\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .xl\:grid-gap-8 {
    grid-gap: 8rem;
  }
}