/* Grid : Gap */
.grid-gap-05 {
  grid-gap: .5rem;
}

.grid-gap-1 {
  grid-gap: 1rem;
}

.grid-gap-2 {
  grid-gap: 2rem;
}

.grid-gap-3 {
  grid-gap: 3rem;
}

.grid-gap-4 {
  grid-gap: 4rem;
}

.grid-gap-5 {
  grid-gap: 5rem;
}

.grid-gap-6 {
  grid-gap: 6rem;
}

.grid-gap-7 {
  grid-gap: 7rem;
}

.grid-gap-8 {
  grid-gap: 8rem;
}

@media screen and (max-width: 767px) {
  /* Classe : .sm:grid-gap-05 */
  .sm\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .sm\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .sm\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .sm\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .sm\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .sm\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .sm\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .sm\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .sm\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Classe : .md:grid-gap-05 */
  .md\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .md\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .md\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .md\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .md\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .md\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .md\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .md\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .md\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Classe : .lg:grid-gap-05 */
  .lg\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .lg\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .lg\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .lg\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .lg\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .lg\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .lg\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .lg\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .lg\:grid-gap-8 {
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 1440px) {
  /* Classe : .xl:grid-gap-05 */
  .xl\:grid-gap-05 {
    grid-gap: .5rem;
  }
  
  .xl\:grid-gap-1 {
    grid-gap: 1rem;
  }
  
  .xl\:grid-gap-2 {
    grid-gap: 2rem;
  }
  
  .xl\:grid-gap-3 {
    grid-gap: 3rem;
  }
  
  .xl\:grid-gap-4 {
    grid-gap: 4rem;
  }
  
  .xl\:grid-gap-5 {
    grid-gap: 5rem;
  }
  
  .xl\:grid-gap-6 {
    grid-gap: 6rem;
  }
  
  .xl\:grid-gap-7 {
    grid-gap: 7rem;
  }

  .xl\:grid-gap-8 {
    grid-gap: 8rem;
  }
}